.footer {
  width: 100%;
  background-color: hsl(214, 7%, 19%);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  box-sizing: border-box;
}

.footerItems {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 24px;
}